@model PostDetailsVM

@{
    ViewData["Title"] = "Post Details";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Post Details</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <img src="@Model.ImagePath" width="300" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input class="form-control" asp-for="Title" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <textarea asp-for="Content" class="form-control" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="GenreName">Genre Name</label>
                        <input asp-for="GenreName" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorFullName">Author Name</label>
                        <input asp-for="AuthorFullName" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label>Comment Count</label>
                        <input class="form-control" value="@Model.Comments.Count" readonly />
                    </div>
                    <div class="form-group">
                        <label>Like Count</label>
                        <input class="form-control" value="@Model.Likes.Count" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model.Comments.Count != 0)
                    {
                        <div class="col-md-2 offset-5">
                            <h3>Comments</h3>
                        </div>
                        <div class="row">
                            @foreach (CommentVM comment in Model.Comments)
                            {
                                <div class="col-md-4">
                                    <div class="card card-secondary">
                                        <div class="card-header">
                                            <h3 class="card-title">@comment.Title</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-title">@comment.Content</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex justify-content-end">
                                                <p>@comment.AppUserName</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-primary btn-sm float-end mr-2">Back to Post List</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm float-end mr-2">Edit Post</a>
        </div>
    </div>
