@model List<PostVM>
@{
	ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">List of Posts</h3>
		</div>
		<div class="card-body">
			<table class="table table-hover table-bordered" id="postTable">
				<thead>
					<tr>
						<th>Post Image</th>
						<th>Title</th>
						<th>Genre</th>
						<th>Content</th>
						<th>Author Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td><img src="@item.ImagePath" width="50"/></td>
							<td>@item.Title</td>
							<td>@item.GenreName</td>
							<td>@item.Content</td>
							<td>@item.AuthorFullName</td>
							<td>
								<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a>
								<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
								<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
							</td>
						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<th>Post Image</th>
						<th>Title</th>
						<th>Genre</th>
						<th>Content</th>
						<th>Author Name</th>
						<th>Actions</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="card-footer">
			<a asp-action="Create" class="btn btn-block btn-dark">Create New Post</a>
		</div>
	</div>
</div>

@section Css{
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
}

@section Scripts{
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<script>let table = new DataTable('#postTable')</script>
}